You are not authorized. You must login.

<div id="fb-root"></div>

<script type="text/javascript" src="<% request.uri_base %>/javascripts/fb.js"></script>

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>
